@tailwind base;
  @tailwind components;
  @tailwind utilities;


  .cl-internal-jayce9{
    color: white;
    margin-right: 13px;
    font-size: 12px;
    font-weight: 200;
  }


.glassmorphism{
  background-color: transparent;
  border: 1px solid white;

}
.cl-internal-b3fm6y{
  display: none;
}
.cl-internal-1fsg6zy{
  background-color: #0B208F;
}
.cl-internal-1fsg6zy:hover{
    background-color: #040A2C;
}
.cl-internal-1yihf81{
  width: 40px;
  height: 30px;
  
}
 .cl-internal-uyu30o{
  display: none;
}

.react-datepicker__aria-live{
  text-align: left;
  margin-left: -122px;
  font-size: 14px;
}

